h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #646cff;
  text-align: center;

  span {
    color: #fb7121;
  }
}

.wrapper {
  width: 1280px;
  padding: 1em;
}

.block {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: space-around;
  padding: 35px;
}
