.clockwrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.clock {
  position: relative;
  margin: 35px;
  width: 300px;
  height: 300px;

  &::before {
    content: '';
    width: 14px;
    height: 14px;
    position: absolute;
    background: #171616;
    border-radius: 30%;
    top: calc(50% - 7px);
    left: calc(50% - 7px);
  }

  .hour {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 150px;
    height: 150px;
    top: calc(50% - 75px);
    left: calc(50% - 75px);

    &::after {
      content: '';
      width: 8px;
      height: 75px;
      background-color: #171616;
      border-radius: 15px 15px 0 0;
    }
  }

  .min {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
    top: calc(50% - 100px);
    left: calc(50% - 100px);

    &::after {
      content: '';
      width: 4px;
      height: 100px;
      background-color: #171616;
      border-radius: 4px 4px 0 0;
    }
  }

  .sec {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 250px;
    height: 250px;
    top: calc(50% - 125px);
    left: calc(50% - 125px);

    &::after {
      content: '';
      width: 3px;
      height: 150px;
      background-color: #ff6464;
      border-radius: 4px 4px 0 0;
    }
  }

  .face {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid rgb(255, 72, 0);
    border-radius: 50%;

    .mark {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      color: #181717;
      .body {
        position: absolute;
        background-color: #181717;
        transform: translate(-50%);
      }
      .minuteBody {
        width: 3px;
        top: 0px;
        bottom: 97%;
      }
      .hourBody {
        width: 8px;
        top: 0px;
        bottom: 90%;
      }
    }
  }
}

.time {
  font-size: 34px;
  text-align: center;
}
